body { background-color: #f7f7f7; font-family: 'Lato', sans-serif; display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh; margin: 0; }
.container { width: 350px; }
.inc-exp-container { background-color: #fff; padding: 20px; display: flex; justify-content: space-between; margin: 20px 0; border-radius: 8px; box-shadow: 0 1px 3px rgba(0,0,0,0.1); }
.money.plus { color: #2ecc71; }
.money.minus { color: #c0392b; }
.list { list-style-type: none; padding: 0; margin-bottom: 40px; }
.list li { background-color: #fff; box-shadow: 0 1px 3px rgba(0,0,0,0.1); color: #333; display: flex; justify-content: space-between; padding: 10px; margin: 10px 0; border-right: 5px solid #2ecc71; position: relative; }
.list li.minus { border-right: 5px solid #c0392b; }

/* DELETE BUTTON STYcdLE */
.delete-btn { cursor: pointer; background-color: #e74c3c; border: 0; color: #fff; font-size: 20px; line-height: 20px; padding: 2px 5px; position: absolute; top: 50%; left: 0; transform: translate(-100%, -50%); opacity: 0; transition: opacity 0.3s ease; }
.list li:hover .delete-btn { opacity: 1; }

.btn { cursor: pointer; background-color: #9c88ff; color: #fff; border: 0; display: block; font-size: 16px; margin: 10px 0 30px; padding: 10px; width: 100%; border-radius: 4px; }
.header-flex { display: flex; justify-content: space-between; align-items: center; }
.logout-btn { background: #ff4757; color: white; border: none; padding: 5px 10px; border-radius: 4px; cursor: pointer; }
.container h2 { text-align: center; margin-bottom: 20px; }
input { border: 1px solid #dedede; border-radius: 4px; display: block; font-size: 16px; padding: 10px; width: 100%; margin: 10px 0; box-sizing: border-box;}
